$colorwhite1 : #FFFFFF;
$colorwhite2 : #A1ACDA;
$colorwhite3 : #fafafa;
$colorwhite4 : #eaeaea;
$colorwhite5 : #D1D2D4;

$colorred1 : #CD354D;
$colorred2 : #e8526a;
$colorred3 : #DD3545;
$colorred4 : #ede4e4;

$color-blue1 : #29346b;
$color-blue2 : #313970;
$color-blue3 : #1560BD;

$color-yellow1 : #EEC643;

$color-black1 : #444444;
$color-black2 : #999999;
$color-black3 : #000000;

$font-Monsterrat : 'Montserrat', sans-serif;
$font-Roboto : 'Roboto', sans-serif;

$font-type1 : normal normal 500 14px/24px $font-Roboto;
$font-type2 : normal normal bold 16px/21px $font-Roboto;
$font-type3 : normal normal bold 24px/29px $font-Roboto;
$font-type4 : normal normal bold 18px/23px $font-Roboto;
$font-type5 : normal normal 300 18px/21px $font-Roboto;
$font-type6 : normal normal 500 16px/19px $font-Roboto;
$font-type7 : normal normal bold 16px/19px $font-Roboto;
$font-type8 : normal normal 500 14px/16px $font-Roboto;
$font-type9 : normal normal normal 14px/24px $font-Roboto;
$font-type10 : normal normal normal 12px/14px $font-Roboto;
$font-type11 : normal normal 500 18px/24px $font-Roboto;
$font-type12 : normal normal 300 50px/52px $font-Monsterrat;
$font-type13 : normal normal 700 50px/52px $font-Monsterrat;
$font-type14 : normal normal 500 24px/29px $font-Roboto;
$font-type15 : normal normal normal 18px/22px $font-Roboto;
